# Ignore my html files
*.html
*.DS_Store
production/static/*

# But don't ignore these files!!
!modules/exampleHeader.html
!modules/exampleFooter.html
!templates/exampleTemplate.html
!production/exampleTemplate.html